* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #333;
	font-family: "Open snas", sans-serif;
	background-image: url("https://cdn.pixabay.com/photo/2016/05/05/02/37/sunset-1373171_960_720.jpg");
	background-size: cover;
	font-size: 120%;
}

.card {
	background: #000000d0;
	width: 100%;
	color: white;
	padding: 2em;
	border-radius: 30px;
	max-width: 420px;
	margin: 1em;

	.search {
		display: flex;
		align-items: center;
		justify-content: center;
		.search-button {
			height: 44px;
			width: 50px;
			margin: 10px;
			border-radius: 50%;
			border: none;
			outline: none;
			background: #7c7c7c2b;
			color: white;
			cursor: pointer;
			transition: 0.2s ease-in-out;
		}
		.search-button:hover {
			background: #7c7c7c6b;
		}
		.search-bar {
			padding: 0.4em 1em;
			width: calc(100% - 100px);
			outline: none;
			border: none;
			border-radius: 24px;
			background: #7c7c7c2b;
			font-size: 110%;
			font-family: inherit;
			color: white;
		}
	}
}

.weather {
	transition: 0.2s ease-in-out;
	.temp {
		margin: 0;
		margin-bottom: 10px;
	}
	.flex {
		display: flex;
		align-items: center;
	}
	.description {
		text-transform: capitalize;
		margin-left: 8px;
	}
}

.weather.loading {
	position: relative;
	visibility: hidden;
	max-height: 20px;
}

.weather.loading:after {
	content: "Loading...";
	position: absolute;
	top: 0;
	left: 20px;
	visibility: visible;
	color: white;
}
